@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
    scroll-behavior: smooth;
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.light {
    background-color: rgb(0, 0, 0);
}

.navbar-collapse {
    justify-content: space-between;
}

.nav-link {
    font-size: 20px;
    margin-right: 20px;
}

.logo {
    filter: invert(100%);
    width: 15%;
}

.form-control {
    margin-right: 10px;
}

.container-overall {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: auto; */
    background-color: red;
}

.sec {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec h1 {
    color: whitesmoke;
    font-size: 5vw;
    text-align: center;
    margin: 0px 50px;
}

.sec:nth-child(1) {
    background: red url('https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.sec:nth-child(2) {
    background: lawngreen url('https://images.unsplash.com/photo-1562813733-b31f71025d54?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.sec:nth-child(3) {
    background: rgb(8 0 252) url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.sec:nth-child(4) {
    background: rgb(71, 71, 71) url('https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.sec:nth-child(5) {
    background: rgb(0 141 92) url('https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.content1 {
    position: absolute;
    top: 0;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

.content1 h2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 125px;
    text-shadow: 2px 2px 1px black;
}

.content1 h2 span {
    position: sticky;
    top: 0px;
    line-height: 100vh;
    height: 100vh;
    margin-top: calc(100vh * var(--i));
}

.vid-div {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-div video {
    position: absolute;
    object-fit: cover;
    object-position: 0% 90%;
    width: 100%;
    height: 70%;
    pointer-events: none;
}

.banner .conte {
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 415px) {
    .content1 h2 {
        font-size: 49px;
    }
    .logo {
        width: 55%;
    }
    .sec h1 {
        font-size: 50px;
    }
    .image-cont {
        width: 300px !important;
    }
    .image {
        width: 298px !important;
    }
    #cam {
        width: 90% !important;
        height: 140px !important;
    }
}

.image-cont {
    height: auto;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    /* padding: 5px; */
    margin: 15px;
    transition: transform .2s;
    background-color: #9beaff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.image-cont:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 10px black;
}

.image-cont h2 {
    text-align: center;
}

.imag {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.image {
    height: 250px;
    width: 198px;
}

.title {
    overflow: auto;
    height: 50px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.title h2 {
    margin-top: 8px;
}

.footer {
    background-color: black;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}

.top:hover {
    box-shadow: 0px 0px 10px yellow;
}

.visible {
    z-index: 2 !important;
}

.insta:hover {
    border: 7px double palevioletred;
    border-radius: 50%;
    box-shadow: 0px 0px 60px palevioletred;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.insta-img:hover {
    width: 80px;
    animation: rotation 2s infinite linear;
}

#cam {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20%;
    height: 200px;
}

.butc {
    position: absolute;
    top: 0px;
    left: 0;
    width: 30px;
    height: 20px;
    border: 3px solid whitesmoke;
    display: none;
}

#cam:hover {
    border: 8px double whitesmoke;
    border-radius: 10px;
}


/* wave section */

.waveSection {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 80px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(100deg, #bababa, #979797), url(res/soft.jpg);
    background-blend-mode: screen;
    background-position: center;
    background-attachment: fixed;
}

.contentInWave {
    font-size: 22px;
    max-width: 750px;
    z-index: 1;
}

.contentInWave h2 {
    font-size: 60px;
}

.waveSection img {
    z-index: 1;
    max-width: 300px;
}

.Wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 933px) {
    .waveSection {
        height: auto;
        flex-direction: column;
        padding: 45px;
    }
}


/* --------------------- */


/* Events section */

.events-section {
    padding: 50px;
    background-image: url('https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1081&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(109 0 0);
    background-attachment: fixed;
    background-blend-mode: multiply;
    box-shadow: 1px 1px 20px #ffffff inset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.laptop {
    width: 142%;
    max-width: 1200px;
    position: relative;
}

.laptop img {
    width: 100%;
}

.laptop iframe {
    position: absolute;
    width: 67.7%;
    height: 82.3%;
    background: #000;
    top: 7.1%;
    left: 17.5%;
}


/* --------------------- */

.content1 h2 span {
    animation: animate 2s linear forwards;
    opacity: 0;
    display: inline-block;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(0deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(360deg);
        filter: drop-shadow(5px 5px 8px rgb(255, 238, 0))
    }
}
